*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* gap:40px; */
    padding-top: 20px;
    height: 100vh;
}

.deck{
    display: flex;
    width: 15vw;
    max-width: 200px;
}

.deck img{
    width: 100%;
}

.hand{
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: space-evenly;
}

.hand img{
    width: 15vw;
    max-width: 200px;
}